* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.material-list {
}

.material {
  display: inline-block;
  position: relative;
  margin: 5px 0px 0px 5px;
  background-size: contain;
}

.material .name {
  color: white;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.material .value {
  color: black;
  position: absolute;
  text-align: center;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.material-image {

}
